version: 2.1

orbs:
  python: circleci/python@0.2.1
jobs:
  working_directory: ~/basic_todo_list
  build-and-test:
    executor: python/default
    steps:
      - checkout
      - python/load-cache
      - python/install-deps
      - python/save-cache
      - run:
          command: pip install -r requirements.txt
          name: Install dependencies
      - run: 
          command: pytest
          name: Test

workflows:
  main:
    jobs:
      - build-and-test
